@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alata&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: 'Alata';
    src: url(https://fonts.gstatic.com/s/alata/v10/PbytFmztEwbIoce9zqY.woff2) format('woff2');
}

@font-face {
    font-family: 'Work Sans';
    src: url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
}
  

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
}

.homeScreenMainContainer {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.skillsMainContainer {
    height: 30vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFE4E4;
}

.profileContainer {
    height: 80%; 
    width: 85%;
    display: flex;
    flex-direction: row;
}

.profileDetailsContainer {
    height: 100%; 
    width: 60%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profilePictureContainer {
    height: 100%; 
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myPictureContainer {
    height: 75%;
    width: 60%;
    border-radius: 50%;
}

.helloContainer {
    width: 100%; 
    height: 10%; 
    display: flex;
    align-items: center;
}

.helloText {
    font-family: 'Work Sans';
    font-size: 40px; 
    font-weight: 500; 
}

.waveIcon {
    margin-left: 2%;
    color: #DCB991;
}

.introductionContainer {
    height: 40%; 
    width: 100%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.introductionText {
    font-family: 'Work Sans';
    font-size: 15px; 
    color: #0e0e0e;
    opacity: 0.80; 
    text-align: justify;
}

.cvContainer {
    height: 12%;
    width: 100%; 
    margin-top: 1%;
}

.cvButton {
    height: 100%; 
    width: 25%;
    background-color: #FFFFFF;
    border: 2px solid #935A5A;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.cvButton:hover {
    background-color: #935A5A; 
    opacity: 0.66;
    border-color: #FFFFFF;
}

.cvButtonText {
    font-family: 'Work Sans';
    font-size: 18px; 
    font-weight: 500;
    color: #935A5A;
    /* opacity: 0.66; */
}

.cvButton:hover .cvButtonText {
    color: #ffff;
}

.skillsTitleContainer {
    margin-top: 1%;
    height: 15%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillsTitle {
    font-family: 'Work Sans';
    font-size: 30px; 
    font-weight: 500; 
    color: #0e0e0e;
}

.skillsFilterMainContainer {
    width: 85%; 
    height: 85%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsFilterContainer {
    width: 100%; 
    height: 25%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.skillsFilter { 
    height: 70%; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #935A5A;
    background-color: #FFE4E4;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 2%; 
    padding: 3px;
    transition: background-color 0.3s, border-color 0.3s;
}

.filterText {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 12px;
    color: #0e0e0e; 
}

.skillsFilter:hover {
    background-color: #935A5A;
}

.skillsFilter:hover .filterText {
    color: #ffffff;
}

.activeSkills { 
    background-color: #9E5A5A;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 12px;
}

.activeSkills .filterText {
    color: #ffffff;
}

.filterDetailsContainer {
    height: 70%; 
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filterDetails {
    height: 100%; 
    width: 70%; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.filterMainContainer {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterContainer {
    background-color: white;
    height: 80%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #935A5A;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.filterContainer:hover {
    transform: scale(1.1); 
}

.techStackLogo {
    height: 50%;
    width: 20%;
}

.techStackText {
    font-family: 'Alata';
    font-size: 10px; 
    font-weight: 500;
    color: #0e0e0e;
    margin-left: 2%;
    text-align: center;
}

@media (max-width: 1180px) {
    .cvButton {
        height: 100%; 
        width: 35%;
        background-color: #FFFFFF;
        border: 2px solid #935A5A;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
    }
}

@media (max-width: 950px) {
    .profileContainer {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profilePictureContainer {
        height: 40%;
        width: 100%;
    }

    .myPictureContainer {
        height: 100%;
        width: 35%;
        border-radius: 50%;
    }

    .profileDetailsContainer {
        height: 60%;
        width: 100%;
    }

    .helloContainer {
        height: 10%;
        display: flex;
        justify-content: center;
    }

    .helloText{
        font-size: 20px;
    }

    .introductionContainer {
        height: 70%;
    }

    .introductionText {
        font-size: 13px;
    }

    .cvContainer {
        margin: 0;
        height: 20%; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cvButton {
        height: 70%;
        width: 35%;
        border-radius: 50px;
    }

    .cvButtonText {
        font-size: 12px;
    }

    .skillsTitle {
        font-size: 15px;
    }
    .filterText {
        font-size: 10px;
    }

    .filterDetails {
        width: 100%;
    }

    .techStackText {
        font-size: 8px;
    }

    @media (max-height: 610px) {
        .profilePictureContainer {
            height: 50%;
            width: 50%;
        }
    
    }
}

@media (max-height: 610px) {
    .introductionText {
        font-size: 13px;
    }
}

@media (max-height: 610px) {
    .introductionText {
        font-size: 13px;
    }
}